html,
body {
    font-size: $cx-body-font-size;
}

body {
    font-family: $cx-body-font;
    line-height: $cx-body-line-height;
    color: $cx-text-color;
    font-weight: $cx-body-font-weight;
    background: $cx-body-bg-color;
}

h1 {
    font-size: $cx-h1-font-size;
}

h2 {
    font-size: $cx-h2-font-size;
}

h3 {
    font-size: $cx-h3-font-size;
}

h4 {
    font-size: $cx-h4-font-size;
}

h5 {
    font-size: $cx-h5-font-size;
}

h6 {
    font-size: $cx-h6-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $cx-heading-font;
    font-weight: 500;
    @extend %color-primary;
    @extend %default-heading;
}

.fa,
.ion {
    font-size: $cx-icon-font-size;
}

p {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $cx-heading-margin-bottom;
}

ul,
ol,
table,
dl,
dd,
pre {
    margin-bottom: $cx-heading-margin-bottom;
}

address,
blockquote {
    font-style: italic;
}

blockquote {
    font-size: $cx-body-font-size;
    margin: 20px 0;
    padding: 30px;
    border-left-width: 4px;
    border-left-style: solid;
    @extend %border-primary;
    @extend %bgc-offset;

    p {
        &:last-of-type {
            @extend %mb0;
        }
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

thead {
    background: #eee;
}

td,
th {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    font-size: 90%;
    @extend %border-default;
}

table tbody tr:nth-child(even) {
    @extend %bgc-offset;
}

table tbody tr:nth-child(odd) {
    @extend %bgc-white;
}

img {
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
}

dl:after {
    content: "";
    display: table;
    clear: both;
}

dl {
    width: 100%;
}

dt,
dd {
    display: inline-block;
    width: 25%;
}

dt {
    font-weight: bold;
    clear: left;
    float: left;
}

dd {
    width: 70%;
    padding-left: 1em;
    clear: right;
}

dd+dd {
    float: right;
    clear: both;
}

dd:last-of-type {
    @extend %mb0;
}

dd+dt {
    clear: both;
}

dt+dt {
    width: 100%;
    float: none;
    padding: 0 70% 0 0;
}

dt+dt+dd {
    margin-top: -2em;
}

dt+dt+dd+dt {
    margin-top: 2em;
}

ul:not(.list-inline):not(.sf-menu):not(.pagination) {
    list-style: none;
}

ol,
ul:not(.list-inline):not(.sf-menu):not(.pagination) {
    @extend %margin-0;
    @extend %padding-0;

    li {
        padding-left: 18px;
        padding-bottom: 8px;
        line-height: 1.5;
        min-height: 22px;
        word-break: break-word;
        @extend .pos-r;

        &::before {
            content: "\f284";
            font-family: Ionicons;
            left: 0;
            top: 0;
            font-size: 20px;
            line-height: 1.3;
            @extend .pos-a;
        }

        &:last-child {
            @extend %pb0;
        }
    }
    
    ol,
    ul {
        padding-top: 8px;
    }
}

ol {
    list-style-position: inside;
    >li {
        padding-left: 0;
        &::before {
            content: none;
        }
    }
    ol li,
    ul li {
        padding-left: 18px;
    }
}

ul, ol {
    + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: 20px;
    }
}

pre {
    padding: 30px;
    display: block;
    clear: both;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    @extend %bgc-offset;
}

*:focus {
    outline: none;
}

a {
    @extend %cx-transition;
    text-decoration: none;
    @extend %color-primary;
}

a:focus,
a:active,
a:hover {
    outline: 0 none;
    text-decoration: none;
    @extend %color-secondary;
}

.btn-link {
    @extend %color-primary;

    &:hover,
    &:focus,
    &:active {
        @extend %color-secondary;
    }
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
    font-size: 14px;
    font-weight: normal;
}

textarea,
select,
input[type="text"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="button"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="tel"] {
    font-size: 12px;
    box-shadow: none;
    border-radius: 0;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    @extend %cx-transition;
    @extend %border-default;

    &:focus {
        box-shadow: none;
        @extend %border-primary;
    }
}

select {
    width: 100%;
    padding: 5px 10px;
}

.post-date {
    display: block;
    font-size: 14px;
    font-style: italic;
}

.rsswidget {
    font-weight: 600;
}

.rss-date {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
}

.rssSummary {
    margin-bottom: 5px;
    margin-top: 5px;
}

.rssSummary+cite {
    font-size: 14px;
}

.form-control {
    border-radius: 0;

    &:focus {
        box-shadow: none;
        @extend %border-primary;
    }
}

textarea {
    min-height: 100px;
}

.input-group,
.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
    font-size: 12px;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    border: 0;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.05em;
    box-shadow: none;
    cursor: pointer;
    @extend %cx-transition;
    @extend %bgc-primary;
    @extend %color-white;
}

select:focus,
button:focus,
input:focus {
    outline: 0;
    @extend %border-primary;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    @extend %border-secondary;
    @extend %bgc-secondary;
}

::-webkit-input-placeholder {
    color: #000;
    font-size: 13px;
}

::-moz-placeholder {
    color: #000;
    font-size: 13px;
}

:-ms-input-placeholder {
    color: #000;
    font-size: 13px;
}

:-moz-placeholder {
    color: #000;
    font-size: 13px;
}

::-webkit-selection {
    background: $cx-primary-color;
    text-shadow: none;
    color: #fff;
}

::-moz-selection {
    background: $cx-primary-color;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: $cx-primary-color;
    text-shadow: none;
    color: #fff;
}