.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    float: none;
    display: block;
    margin: 0 auto 30px;
}

img {
    max-width: 100%;
    height: auto;
}

.alignright {
    float: right;
    margin: 5px 0 15px 15px;
}

.alignleft {
    float: left;
    margin: 5px 15px 15px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 15px 15px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 15px 15px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    max-width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
}

.wp-caption-text {
    padding: 5px 10px;
    font-size: 85%;
}

.wp-caption.alignnone {
    margin: 0 0 30px;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 8px;
}

.page-links {
    margin-top: 40px;
    display: block;
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}


.page-links span {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
}

.page-links a span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

span.page-links-title {
    border: 0;
    margin-left: 0;
    padding-left: 0;
    width: auto;
}


/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    border-radius: 3px;
    clip: auto !important;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

figure,
iframe,
embed,
object,
select {
    max-width: 100%;
}

select {
    outline: none;
}

.gallery-caption {
    /* gallery-caption css */
}

.bypostauthor {
    /* bypostauthor css */
}

.sticky {
    /* sticky css */
}

.sticky.post-item,
.category-sticky.post-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px !important;
}

.single .sticky.post-item,
.single .category-sticky.post-item {
    border: 0;
    padding: 0;
}

.post-password-form label {
    float: left;
    margin-right: 15px;
}

.post-password-form input[type="password"] {
    margin-left: 20px;
    margin-bottom: 20px;
}

.site-content {
    overflow-wrap: break-word;
}


.post-password-form input[type="submit"] {
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    border: 0;
    outline: none;
    padding: 10px 15px;
    height: 40px;
    line-height: 18px;
}


/**
 * WordPress Comments
 *
 */

#comments {
    margin-top: 60px;
}

.posts-nav+#comments {
    margin-top: 40px;
}

#comments .comment-author.vcard img {
    border-radius: 50%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

#comments .comment-info {
    padding: 15px 20px;
    position: relative;
}

.comment-list {
    padding: 0;
}

.comment-list li.comment {
    list-style-type: none;
}

.comment-list .media {
    margin-bottom: 30px;
}

.comment-info .fn {
    font-weight: bold;
}

.comment-meta {
    font-size: 85%;
    text-align: right;
}

.comment-single-left {
    display: block;
    width: 90px;
    float: left;
    margin-right: 25px;
    height: 90px;
}

.comment-single-right {
    width: 80%;
    width: calc(100% - 115px);
    float: right;
    display: block;
    margin-bottom: 35px;
}

#commentform {
    position: relative;
}

#commentform fieldset {
    clear: both;
}

#commentform textarea {
    height: 150px;
    padding: 10px;
    width: 100%;
    display: block;
}

.comment-form-comment {
    margin-bottom: 20px;
}

#commentform input[type="text"] {
    width: 100%;
    padding: 10px;
}

p.form-submit {
    margin-bottom: 30px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    margin-bottom: 20px;
}

.moderation-notice {
    text-align: right;
}

#commentform input[type="email"] {
    width: 100%;
    padding: 10px;
}

#commentform fieldset {
    position: relative;
}

#comment-error,
#author-error,
#email-error,
#url-error {
    position: absolute;
    bottom: -10px;
}

#comments .comment-info:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 14px 15px 0;
    position: absolute;
    left: -13px;
    top: 30px;
    z-index: -1;
}

/**
 * WordPress Gallery Support
 *
 */

.gallery-item {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 1.5em;
    padding: 0 1em 0 0;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-columns-10 .gallery-item {
    max-width: 10%;
}

.gallery-columns-11 .gallery-item {
    max-width: 9.09%;
}

.gallery-columns-12 .gallery-item {
    max-width: 8.33%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
    display: inline-block;
    width: 100%;
}

.gallery-item a img {
    display: block;
    width: 100%;
    transition: all 0.2s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
    opacity: .6;
}