/**
 * Layout Header
 *
 */

.header {
	.header-top {
		padding: 25px 45px;
	}

	.navbar-brand {
		@extend %margin-0;
	}

	.logo {
		text-align: center;

		img {
			width: 120px;
		}
	}

	.header-right {
		text-align: right;

		.default-btn {
			min-width:125px;
			padding:8px;
			&:last-child {
				margin-left: 15px;
				margin-top: 15px;
			}
		}
	}

	.site-title,
	.site-description {
		@extend %mb0;
		@extend %color-white;
	}

	.custom-logo-link + .site-title {
		margin-top: 15px;
	}

	.floating-header {
		z-index: 10;
		@extend %bgc-transparent;
		@extend .pos-r;
		&.pinned {
			.site-description {
				@extend %color-text;
			}
		}
	}
}