/**
 * Layout Fixed Header
 *
 */

.header-top {
	.sticky-logo {
		display: none;
	}

	&.pinned {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 9950;
	    padding: 0 45px;
	    background: rgba(#fff, 0.95);
	    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
	    @extend %cx-transition;

	    .admin-bar & {
	    	top: 32px;
	    }

	    &:hover {
	    	@extend %bgc-white;
	    }

		.navbar-brand {
			> a {
				display: none;
			}
		}

		.site-description {
			@extend %color-text;
		}

		.sticky-logo {
			display: block;
		}

	    &.top {
	    	top: -100%;
			transition: top 0.3s ease-in-out;
	    }

	    .container-fluid {
	    	> .row {
	    		> div {
	    			&:nth-child(1),
	    			&:nth-child(3) {
	    				display: none;
	    			}

	    			&:nth-child(2) {
		    			flex: 0 0 25%;
		    			max-width: 25%;
		    			@include media-only(notebook, max) {
		    				flex: 0 0 100%;
		    				max-width: 100%;
		    			}
	    			}
	    		}

	    		> .col-lg-12 {
	    			flex: 0 0 75%;
	    			max-width: 75%
	    		}
	    	}
	    }

	    .logo {
	    	text-align: left;
	    	padding: 8px 0;
	    	margin-left: 0;

	    	img {
	    		width: 150px;
	    	}
	    }

	    #main_menu {
	    	margin-top:0;
	    	margin-bottom: 0;
	    	@include cx-centered(vertical);
	    	right: 15px;
	    	justify-content: flex-end;

			> li {
				> a {
					font-size: 15px;
		    		padding: 22px 20px;
		    		@extend %color-text;
		    	}

		    	&:last-child {
		    		> a {
		    			padding-right: 0;
		    		}
		    	}
			}

	    	> li:not(.current_page_item) {
	    		> a {
	    			@extend %color-dark;

	    			&:hover {
	    				@extend %color-tertiary;
	    			}
	    		}
	    	}
	    }

	    .primary-nav-details {
	    	@extend %color-text;
	    }
	}
}