/**
 * Layout Header
 *
 */

.header {
	@extend .pos-r;

	&::before {
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		@extend .pos-a;
	}
	
	.header-top {
		padding: 25px 45px;
		@include media-only(notebook, max) {
			padding-bottom: 0;
		}
		@include media-only(tablet, max) {
			padding-left:0;	
			padding-right: 0;
		}

		@include respond-to(small-mobile) {
			padding-top: 0;
		}
	}

	.navbar-brand {
		@extend %margin-0;
	}

	.logo {
		
		@include media-only(small-mobile, max) {
			.site-description,
			.site-title {
				text-align: left;		
			}

			.site-description {
				font-size: 14px;
			}

			.navbar-brand {
				width:100%;
			}
		}

		width:180px;
		@include push-center;
		img {
			width:100%;
		}

	}


	.header-right {
		text-align: right;

		.default-btn {
			min-width:125px;
			@include media-only(notebook, min) {
				padding:8px;
			}

			&:last-child {
				margin-left: 15px;
				@include media-only(notebook, min) {
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}
			
			@include media-only(tablet, max) { 
				padding: 8px 25px;
			}

			@include media-only(small-mobile, max) { 
				padding: 8px 3px;
				font-size: 13px;
				width:50%;
			}
		}
	}

	.site-title,
	.site-description {
		@extend %mb0;
		@extend %color-white;
	}

	.custom-logo-link + .site-title {
		margin-top: 15px;
	}

}

#whole {
	.header {
		.logo {
			@include media-only(notebook, max) {
				width:150px;
			}

			@include respond-to(small-mobile) {
				margin-left: 0;
				width:130px;
			}
		}
	}
}

@include media-only(notebook, max) {
	#o-wrapper {
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		right:15px;
	}

	.header-right,
	.header-left {
		display:flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: $cx-heading-margin-bottom;
	}
}


.header-left,
.header-right {
	@include respond-to(small-mobile) {
		justify-content: space-between;
	}
}


.header-left {
	@include respond-to(small-mobile) {
		margin-top: 0;
		margin-bottom: $cx-heading-margin-bottom;
		padding: 7px 15px;
	    margin-left: -15px;
	    margin-right: -15px;
	    background: rgba(0,0,0,.3);
	    position: relative;
	}
}


@include respond-to(small-mobile) {
	#o-wrapper {
		@include cx-centered(vertical);
	}
}


.primary-nav-details {
	@include respond-to(small-mobile) {
		margin: 0;
	}
}

.header-bottom {
	position: relative;
	z-index: 11;
	.navigation-wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.is-sticky {
	.navigation-wrapper {
		background: rgba(32,32,32,.95);
    	margin-top: 0;
    	border-bottom: 1px solid #222;
	}



	#main_menu {
		> li {
			> a {
				// @extend %color-text;
				&:hover,
				&:focus {
					@extend %color-secondary;
				}
			}
		}

	> .current-menu-parent,
    > .current-menu-item,
    > .current-page-parent {
    	> a {
    		@extend %color-primary;	
    	}
    	
    }
	}
}