/**
 * Layout Page Title
 *
 */

#page_title {
	padding-top: 100px;
	padding-bottom: 100px;
	@extend .pos-r;

	&::before {
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		@extend .pos-a;
	}

	h1 {
	    font-size: 34px;
	    line-height: 1.2;
	    word-wrap: break-word;
	    @extend %mb0;
	    @extend %color-white;
	}

	h1 + .breadcrumb {
		margin-top: 25px;
	}
}

.floating-header + #page_title {
	padding-top: 320px;
	margin-bottom: 70px;
}
