/**
 * Layout Page Title
 *
 */

#page_title {
	padding-top: 100px;
	padding-bottom: 100px;

	h1 {
	    font-size: 34px;
	    line-height: 1.2;
	    word-wrap: break-word;
	    @extend %mb0;
	    @extend %color-white;
	}

	h1 + .breadcrumb {
		margin-top: 25px;
	}
}

.floating-header + #page_title {
	padding-top: 320px;
	margin-bottom: 70px;
}
