/**
 * Components Comments
 *
 */

#comments {
	.comment-text {		
		>ol {
			@extend %pt0;
		    >li {
		        padding-left: 0;
		        &::before {
		            content: none;
		        }
		    }
		    ol li,
		    ul li {
		        padding-left: 18px;
		    }
		}

		img {
			margin-top: 20px;
			margin-bottom: 20px;

			&:last-child {
				@extend %mb0;
			}
		}
	}

	.comments-title {
		padding: 15px;
		text-transform: initial;
		@extend %bgc-offset;
	}

	// ul, ol {
	// 	list-style: none;
	// }

	.comment-list {
		list-style: none;

		> li {
			padding-left: 0;
			&::before {
				content: none;
			}

			> ul,
			> ol {
				li {
					&::before {
						content: none;
					}
				}
			}
		}
	}

	.comment-reply-title {
		small {
			margin-left: 15px;
		}
	}

	.comment-reply {
		margin-left: 15px;

		i {
			margin-right: 7px;
		}
	}

	.comment-edit-link {
		margin-left: 7px;
		@extend %color-primary;

		&:hover {
			@extend %color-secondary;
		}
	}

	.comment-edit-link,
	.comment-reply-link {
		font-weight: 600;
	}
}
