/**
 * Components Main Menu
 *
 */

#main_menu {
    float: none;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;

    > li {
    	float: none;
    	clear: both;
    	flex: 0;
    	@extend %bgc-transparent;

    	> a {
    		border: 0;
		    letter-spacing: 0.5px;
		    padding: 22px 20px;
    		@extend %color-white;
            @extend .pos-r;
            &:hover,
            &:focus {
                @extend %color-primary;
            }
        }
    }

    > .menu-item-has-children {
        > a {
            padding-right: 40px;
            &::after {
                content:"\f107";
                font-family: FontAwesome;
                right:20px;
                border:0;
                @include cx-centered(vertical);
                @extend %pos-a;
            }

        }

        .sub-menu {
            width: 230px;
            background: #2e2e2e;
            box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);

            .sub-menu {
                background: #3e3e3e;
                .sub-menu {
                    background: #4e4e4e;
                }
            }

            a {
                white-space: normal;
                text-transform: initial;
                border-bottom:1px solid rgba(0,0,0,.15);
                font-weight: normal;
                @extend %color-white;
                &:hover,
                &:focus {
                    background: rgba(0,0,0,.1);
                    padding-left: 22px;
                }
            }

            .menu-item-has-children {
                > a {
                    padding-right: 30px;
                    @extend %pos-r;
                    
                    &::after {
                        content:"\f105";
                        font-family: FontAwesome;
                        right:10px;
                        @include cx-centered(vertical);
                        @extend %pos-a;
                    }
                }
            }

        }
    }


    > .current-menu-ancestor,
    > .current-menu-item {
        > a {
            @extend %color-primary;
        }
    }

    .sub-menu {
        > .current-menu-item,
        > .current-menu-ancestor {
            > a {
                background: rgba(0,0,0,.1);
            }
        }
    }

}


// header {
//     .navigation-wrapper {
//         margin-top: $cx-heading-margin-bottom;
//     }
// }