/**
 * Components Header Socials
 *
 */

.header-social {

	a {
		margin-right: 7px;
		@extend .circle;
		@include box(30px);
		// line-height: 32px;
		@extend %bgc-white;
		@extend %color-dark;
	}

	&:hover {
		a {
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.header-search {
	+ .header-social {
		margin-top: 20px;
	}
}