/**
 * Components Socials
 *
 */

.socials {
	&.social-icons-round {
		.list-inline {
			a {
				display: block;
			    width: 40px;
			    height: 40px;
			    line-height: 40px;
			    text-align: center;
			    @extend .circle;
			}
		}

		.list-inline-item:not(:last-child) {
		    margin-right: 3px;
		    margin-bottom: 5px;
		}
	}
}